<div class="row mt-4">
    <div class="col-3 text-center">
       <div class="media-body userprofile ml-3">
        	<%= gravatar_for current_user %>
        	<h4><%= current_user.name%></h4>
        	<h5><%= current_user.email%></h5>
    	</div>

        <div class="col-12 text center">
            <div class="row">
                <div class="col-6">
                    <h3><%=current_user.active_relationships.count%></h3>
                    following
                </div>
                <div class="col-6">
                    <h3><%=current_user.passive_relationships.count%></h3>
                    followers
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
       <div class="card activity feed_paginate">
            <div class="card-header">
                Activities
            </div>
            <div class="card-body">
                <%= render 'shared/feed', locals: {activities: @activities} %>
                <div class="dashboard_paginate">
                    <%= will_paginate @activities%>
                </div>
            </div>
        </div>
    </div>
    <% if @activities.any? %>

    <% else %>
        <h3 class="text-muted text-center">Nothing to show</h3>
    <% end %>
</div>

