<div class="row mt-4">
    <div class="col-3 text-center">
       <div class="media-body userprofile ml-3">
        	<%= gravatar_for @user %>
        	<h4><%= @user.name%></h4>
        	<h5><%= @user.email%></h5>
    	</div>

           <div class="col-12 text center">
        <div class="row">
            <div class="col-6">
                <h3><%=@user.active_relationships.count%></h3>
                following
            </div>
            <div class="col-6">
               <h3><%=@user.passive_relationships.count%></h3>
                followers
            </div>
        <div class="form-group">
            <% if current_user != @user %>
                <% unless current_user.following?(@user)%>
                    <%= form_for(current_user.active_relationships.build) do |f| %>
                        <div><%= hidden_field_tag :followed_id,@user.id %></div>
                        <%= f.submit "Follow", class:"btn btn-outline-primary btn-lg mt-2 btn-follow"%>
            		<% end %>
            <% else %>
                    <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
                        html:{method: :delete}) do |f|%>
                        <%= f.submit "Unfollow",class: "btn btn-danger btn-lg mt-2 btn-follow"%>
                    <% end %>
                <% end %>
            <% end %>
             <%= link_to "admin",admin_home_path, class: "btn btn-outline-info btn-lg mt-2 btn-follow" %>
        </div>
        </div>
    </div>

    </div>
    <div class="col-9">
       <div class="card activity">
            <div class="card-header">
                Activities
            </div>
        </div>
    </div>
</div>