<div class="category_top">
    <h1>Administer Categories</h1>
    <%= link_to "new category",new_admin_category_path,class: "btn btn-outline-danger category_margin category_new" %>
</div>
<div class="table_margin">
    <table class="table">
        <thead>
    		<tr>
      			<th scope="col">Title</th>
      			<th scope="col">Description</th>
      			<th scope="col">Settings</th>
    		</tr>
  		</thead>

		<% @categories.each do |category| %>
  			<tbody>
    			<tr>
					<td><%= link_to category.title,admin_category_path(category), class:"title_color" %></td>
					<td><%=category.description%></td>
					<td><%= link_to 'edit',edit_admin_category_path(category),class:"btn btn-outline-success btn-sm float-r" %> / <%= link_to 'Delete',admin_category_path(category.id),class:"btn btn-outline-danger btn-sm float-r",method: :delete %> </td>
    			</tr>
  			</tbody>
		<% end %>
	</table>
	<div class="paginate text-center">
    	<%= will_paginate %>
	</div>
</div>