<div class="category_top">
    <h1>Administer Categories</h1>
    <%= link_to "new category",new_admin_category_path,class: "btn btn-outline-danger category_margin category_new" %>
</div>
<div class="table_margin">
    <table class="table">
        <thead>
    		<tr>
      			<th scope="col">Title</th>
      			<th scope="col">Description</th>
      			<th scope="col">Settings</th>
    		</tr>
  		</thead>

		<% @categories.each do |category| %>
  			<tbody>
    			<tr>
					<td><%=category.id%></td>
					<td><%=category.description%></td>
					<td><%=link_to 'edit'%> / <%=link_to 'delete'%></td>
    			</tr>
  			</tbody>
		<% end %>
	</table>
	<div class="paginate text-center">
    	<%= will_paginate %>
	</div>
</div>